<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="xgo">
  <link name="base">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.001 0.001 0.001"/>
      </geometry>
    </visual>
  </link>
  <joint name="floating_base" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="base"/>
    <child link="body"/>
  </joint>
  <link
    name="body">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.28377" />
      <inertia
        ixx="0.00012081"
        ixy="2.6e-7"
        ixz="-2.87e-6"
        iyy="0.00114744"
        iyz="1.5e-7"
        izz="0.00120568" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/body.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/body.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="fl_hip">
    <inertial>
      <origin
        xyz="-0.014472 0.025089 0.0092733"
        rpy="0 0 0" />
      <mass
        value="0.0196" />
      <inertia
        ixx="5.89E-06"
        ixy="-5.7E-07"
        ixz="-2.6E-07"
        iyy="3.79E-06"
        iyz="-1.16E-06"
        izz="6.89E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/fl_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/fl_hip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fl_hip_joint"
    type="revolute">
    <origin
      xyz="0.093049 0.022297 -0.00077655"
      rpy="0 0 0" />
    <parent
      link="body" />
    <child
      link="fl_hip" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.8"
      upper="0.8"
      effort="0.45"
      velocity="10" />
  </joint>
  <link
    name="fl_thigh">
    <inertial>
      <origin
        xyz="-0.00135 -0.01796 -0.02975"
        rpy="0 0 0" />
      <mass
        value="0.06234296" />
      <inertia
        ixx="4.672E-05"
        ixy="-1E-7"
        ixz="1.1E-7"
        iyy="4.153E-05"
        iyz="0"
        izz="9.971E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/fl_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/fl_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fl_thigh_joint"
    type="revolute">
    <origin
      xyz="-0.018825 0.049813 0"
      rpy="0 0 0" />
    <parent
      link="fl_hip" />
    <child
      link="fl_thigh" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2"
      upper="2"
      effort="0.45"
      velocity="10" />
  </joint>
  <link
    name="fl_calf">
    <inertial>
      <origin
        xyz="-0.016617 -0.018825 -0.026917"
        rpy="0 0 0" />
      <mass
        value="0.02225" />
      <inertia
        ixx="1.399E-05"
        ixy="0"
        ixz="-1.09E-06"
        iyy="1.366E-05"
        iyz="0"
        izz="1.5E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/fl_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/fl_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fl_calf_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.0595"
      rpy="0 0 0" />
    <parent
      link="fl_thigh" />
    <child
      link="fl_calf" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.69"
      upper="-0.9"
      effort="0.45"
      velocity="10" />
  </joint>
  <link
    name="fl_foot">
    <inertial>
      <origin
        xyz="-0.00092954 0 -0.0022442"
        rpy="0 0 0" />
      <mass
        value="0.00160727" />
      <inertia
        ixx="5E-08"
        ixy="0"
        ixz="1E-08"
        iyy="8E-08"
        iyz="0"
        izz="7E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/fl_foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/fl_foot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fl_foot_joint"
    type="fixed" dont_collapse="true">
    <origin
      xyz="-0.022663 -0.018825 -0.0715"
      rpy="0 0 0" />
    <parent
      link="fl_calf" />
    <child
      link="fl_foot" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="fr_hip">
    <inertial>
      <origin
        xyz="-0.014472 -0.025087 0.0092733"
        rpy="0 0 0" />
      <mass
        value="0.0196" />
      <inertia
        ixx="5.89E-06"
        ixy="5.7E-07"
        ixz="-2.6E-07"
        iyy="3.79E-06"
        iyz="1.16E-06"
        izz="6.89E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/fr_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/fr_hip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fr_hip_joint"
    type="revolute">
    <origin
      xyz="0.093049 -0.022303 -0.00077372"
      rpy="0 0 0" />
    <parent
      link="body" />
    <child
      link="fr_hip" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.8"
      upper="0.8"
      effort="0.45"
      velocity="10" />
  </joint>
  <link
    name="fr_thigh">
    <inertial>
      <origin
        xyz="-0.0044234 0.01867 -0.02975"
        rpy="0 0 0" />
      <mass
        value="0.06234296" />
      <inertia
        ixx="4.672E-05"
        ixy="1E-7"
        ixz="1.1E-7"
        iyy="4.153E-05"
        iyz="0"
        izz="9.971E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/fr_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/fr_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fr_thigh_joint"
    type="revolute">
    <origin
      xyz="-0.018825 -0.049811 0"
      rpy="0 0 0" />
    <parent
      link="fr_hip" />
    <child
      link="fr_thigh" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2"
      upper="2"
      effort="0.45"
      velocity="10" />
  </joint>
  <link
    name="fr_calf">
    <inertial>
      <origin
        xyz="-0.016617 0.018825 -0.026917"
        rpy="0 0 0" />
      <mass
        value="0.02225" />
      <inertia
        ixx="1.399E-05"
        ixy="0"
        ixz="-1.09E-06"
        iyy="1.366E-05"
        iyz="0"
        izz="1.5E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/fr_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/fr_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fr_calf_joint"
    type="revolute">
    <origin
      xyz="0.00019993 0 -0.0595"
      rpy="0 0 0" />
    <parent
      link="fr_thigh" />
    <child
      link="fr_calf" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.69"
      upper="-0.9"
      effort="0.45"
      velocity="10" />
  </joint>
  <link
    name="fr_foot">
    <inertial>
      <origin
        xyz="-0.000929610847488466 -4.50096803022992E-08 -0.00224418223925019"
        rpy="0 0 0" />
      <mass
        value="0.00160727" />
      <inertia
        ixx="5E-08"
        ixy="0"
        ixz="1E-08"
        iyy="8E-08"
        iyz="0"
        izz="7E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/fr_foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/fr_foot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fr_foot_joint"
    type="fixed" dont_collapse="true">
    <origin
      xyz="-0.022663 0.018825 -0.0715"
      rpy="0 0 0" />
    <parent
      link="fr_calf" />
    <child
      link="fr_foot" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="bl_hip">
    <inertial>
      <origin
        xyz="-0.0139719978465255 0.0250874114611194 0.00927328906936255"
        rpy="0 0 0" />
      <mass
        value="0.0196" />
      <inertia
        ixx="5.89E-06"
        ixy="-5.7E-07"
        ixz="-2.6E-07"
        iyy="3.79E-06"
        iyz="-1.16E-06"
        izz="6.89E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/bl_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/bl_hip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="bl_hip_joint"
    type="revolute">
    <origin
      xyz="-0.056701 0.022297 -0.00077655"
      rpy="0 0 0" />
    <parent
      link="body" />
    <child
      link="bl_hip" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.8"
      upper="0.8"
      effort="0.45"
      velocity="10" />
  </joint>
  <link
    name="bl_thigh">
    <inertial>
      <origin
        xyz="-0.0044577 -0.01867 -0.02975"
        rpy="0 0 0" />
      <mass
        value="0.06234296" />
      <inertia
        ixx="4.672E-05"
        ixy="-1E-7"
        ixz="1.1E-7"
        iyy="4.153E-05"
        iyz="0"
        izz="9.971E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/bl_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/bl_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="bl_thigh_joint"
    type="revolute">
    <origin
      xyz="-0.018325 0.049811 0"
      rpy="0 0 0" />
    <parent
      link="bl_hip" />
    <child
      link="bl_thigh" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2"
      upper="2"
      effort="0.45"
      velocity="10" />
  </joint>
  <link
    name="bl_calf">
    <inertial>
      <origin
        xyz="-0.0166167777717992 -0.0188249730950225 -0.026917070061231"
        rpy="0 0 0" />
      <mass
        value="0.02225" />
      <inertia
        ixx="1.399E-05"
        ixy="0"
        ixz="-1.09E-06"
        iyy="1.366E-05"
        iyz="0"
        izz="1.5E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/bl_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/bl_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="bl_calf_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.0595"
      rpy="0 0 0" />
    <parent
      link="bl_thigh" />
    <child
      link="bl_calf" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.69"
      upper="-0.9"
      effort="0.45"
      velocity="10" />
  </joint>
  <link
    name="bl_foot">
    <inertial>
      <origin
        xyz="-0.00092961 -4.501E-08 -0.0022442"
        rpy="0 0 0" />
      <mass
        value="0.00160727" />
      <inertia
        ixx="5E-08"
        ixy="0"
        ixz="1E-08"
        iyy="8E-08"
        iyz="0"
        izz="7E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/bl_foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/bl_foot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="bl_foot_joint"
    type="fixed" dont_collapse="true">
    <origin
      xyz="-0.022663 -0.018825 -0.0715"
      rpy="0 0 0" />
    <parent
      link="bl_calf" />
    <child
      link="bl_foot" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="br_hip">
    <inertial>
      <origin
        xyz="-0.0139720126736417 -0.0250874024827749 0.00927327962848533"
        rpy="0 0 0" />
      <mass
        value="0.0196" />
      <inertia
        ixx="5.89E-06"
        ixy="5.7E-07"
        ixz="-2.6E-07"
        iyy="3.79E-06"
        iyz="1.16E-06"
        izz="6.89E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/br_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/br_hip.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="br_hip_joint"
    type="revolute">
    <origin
      xyz="-0.056701 -0.022303 -0.00077372"
      rpy="0 0 0" />
    <parent
      link="body" />
    <child
      link="br_hip" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.8"
      upper="0.8"
      effort="0.45"
      velocity="10" />
  </joint>
  <link
    name="br_thigh">
    <inertial>
      <origin
        xyz="-0.0044234 0.01867 -0.02975"
        rpy="0 0 0" />
      <mass
        value="0.06234296" />
      <inertia
        ixx="4.672E-05"
        ixy="1E-7"
        ixz="1.1E-7"
        iyy="4.153E-05"
        iyz="0"
        izz="9.971E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/br_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/br_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="br_thigh_joint"
    type="revolute">
    <origin
      xyz="-0.018325 -0.049811 0"
      rpy="0 0 0" />
    <parent
      link="br_hip" />
    <child
      link="br_thigh" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2"
      upper="2"
      effort="0.45"
      velocity="10" />
  </joint>
  <link
    name="br_calf">
    <inertial>
      <origin
        xyz="-0.016617 0.018825 -0.026917"
        rpy="0 0 0" />
      <mass
        value="0.02225" />
      <inertia
        ixx="1.399E-05"
        ixy="0"
        ixz="-1.09E-06"
        iyy="1.366E-05"
        iyz="0"
        izz="1.5E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/br_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/br_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="br_calf_joint"
    type="revolute">
    <origin
      xyz="0.00019993 0 -0.0595"
      rpy="0 0 0" />
    <parent
      link="br_thigh" />
    <child
      link="br_calf" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.69"
      upper="-0.9"
      effort="0.45"
      velocity="10" />
  </joint>
  <link
    name="br_foot">
    <inertial>
      <origin
        xyz="-0.00092961 -4.501E-08 -0.0022442"
        rpy="0 0 0" />
      <mass
        value="0.00160727" />
      <inertia
        ixx="5E-08"
        ixy="0"
        ixz="1E-08"
        iyy="8E-08"
        iyz="0"
        izz="7E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/br_foot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/br_foot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="br_foot_joint"
    type="fixed" dont_collapse="true">
    <origin
      xyz="-0.022663 0.018825 -0.0715"
      rpy="0 0 0" />
    <parent
      link="br_calf" />
    <child
      link="br_foot" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="arm_thigh">
    <inertial>
      <origin
        xyz="-0.02975 0.01867 -0.0044577"
        rpy="0 0 0" />
      <mass
        value="0.018812" />
      <inertia
        ixx="9.71E-06"
        ixy="0"
        ixz="1.1E-7"
        iyy="4.153E-05"
        iyz="1E-7"
        izz="4.672E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/arm_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/arm_thigh.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_thigh_joint"
    type="fixed" dont_collapse="true">
    <origin
      xyz="0.080718 -0.018358 0.037252"
      rpy="0 0 0" />
    <parent
      link="body" />
    <child
      link="arm_thigh" />
  </joint>
  <link
    name="arm_calf">
    <inertial>
      <origin
        xyz="0.02333 0.018563 0.017123"
        rpy="0 0 0" />
      <mass
        value="0.017297" />
      <inertia
        ixx="3.72E-06"
        ixy="4E-08"
        ixz="-3.38E-06"
        iyy="2.722E-05"
        iyz="-1E-08"
        izz="2.638E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/arm_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/arm_calf.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_calf_joint"
    type="fixed" dont_collapse="true">
    <origin
      xyz="-0.0595 0 0"
      rpy="0 0 0" />
    <parent
      link="arm_thigh" />
    <child
      link="arm_calf" />
  </joint>
  <link
    name="hand_right">
    <inertial>
      <origin
        xyz="0.011578 -0.0072849 -0.0068499"
        rpy="0 0 0" />
      <mass
        value="0.0010815" />
      <inertia
        ixx="1.5564E-07"
        ixy="6.1813E-08"
        ixz="4.8265E-08"
        iyy="2.117E-07"
        iyz="-3.5622E-08"
        izz="2.476E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hand_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hand_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hand_right_joint"
    type="fixed" dont_collapse="true">
    <origin
      xyz="0.075852 0.022675 0.029321"
      rpy="0 0 0" />
    <parent
      link="arm_calf" />
    <child
      link="hand_right" />
  </joint>
  <link
    name="hand_left">
    <inertial>
      <origin
        xyz="0.011578 0.0072849 0.0068499"
        rpy="0 0 0" />
      <mass
        value="0.0010815" />
      <inertia
        ixx="1.5564E-07"
        ixy="-6.1813E-08"
        ixz="-4.8265E-08"
        iyy="2.117E-07"
        iyz="-3.5622E-08"
        izz="2.476E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hand_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/hand_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hand_left_joint"
    type="fixed" dont_collapse="true">
    <origin
      xyz="0.075852 0.014475 0.0074211"
      rpy="0 0 0" />
    <parent
      link="arm_calf" />
    <child
      link="hand_left" />
    <mimic joint="hand_right_joint"/>
  </joint>
</robot>